.phone-list {
    height: 45%;
    padding: 0 10px;
    margin-top: 10px;
}

.phone-list article {
    border: 1px solid #999;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

img {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}

.price {
    color: green;
}